body{
    max-width: 100vw;
}

header {
    background-color: #ffb6c1; /* Fundo do cabeçalho em rosa */
    color: #000000;
    text-align: center;
    margin: 0 auto;
    padding: 16px;

}

main {
    background-color: #ffffff; /* Fundo da página branco */
    color: #000000;            /* Texto preto */
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;

 display: flex;
flex-wrap: wrap;
}

article {
    display: flex;

border: 1px solid #000000; 

margin: 16px; 
gap: 16px; 
padding: 16px; 

flex: 1 1 20%;
}

img {
    width: 80px;
    height: 80px;
}

.artigo-autor {
    font-weight: bold;
}